#footer{
    padding: 36px 0;
    background-color: #2B2B2B;
    color: var(--title-color-white);
}
.footer__list{
    display: flex;
    justify-content: space-between;
}
.footer__col{
    width: calc(100%/4);
    text-align: center;
}
.footer__title{
    color: var(--title-color-white);
}
.sub__list__content{
    padding: 0.25rem 0;
    /* text-align: justify; */
}