#footer{
    background-color: #2B2B2B;
}
#footer .container{
    padding: 36px 67px;
    color: var(--title-color-white);
}
.footer__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.footer__col:nth-child(2),
.footer__col:nth-child(3){
    /* width: calc(100%/4); */
    text-align: center;
}
.footer__title{
    color: var(--title-color-white);
}
