/* #header{
    
} */
.navbar,
.navbar__list-left,
.navbar__list-right{
    display: flex;
}
.navbar{
    justify-content: space-between;
    padding: 10px 0;
}
.navbar__link,
.navbar__btn{
    padding: 35px 23px;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #373737;
    cursor: pointer;
}
.navbar__link:hover{
    text-decoration: underline;
}
.banner{
    text-align: center;
    padding: 204px 0;
}
.banner__title{
    font-weight: 700;
    font-size: 49px;
    line-height: 59px;
    text-transform: uppercase;
    color: #373737;
}
.banner__content{
    max-width: 584px;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}
.gr__btn-next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.banner__link{
    padding: 28px 56px;
    color: #FFFFFF;
    border: 1px solid white;
}
.banner__link::after{
    font-family: Fontawesome;
    content: "\f105";
    margin-left: 0 .5rem;
}
.banner__link:hover{
    color:#373737;
    background-color: #FFFFFF;
}
.next__left,
.next__right{
    padding: 48px 13px;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* form login css */
.register-form{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background-color: #373737;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}
#chk{
	display: none;
}
.register-form .btn-exit{
    width: unset !important;
    height: unset !important;
    margin: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
    /* z-index: 1; */
}
.register-form label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.register-form input{
	width: 60%;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.register-form button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.register-form button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}