#header{
    background-image: url(../img/header/Rectangle\ 4.png);
    background-size: 100% 100%;
    /* width: 100%;  */
    height: 100vh;
    position: relative;
}
.navbar,
.navbar__list-left,
.navbar__list-right{
    display: flex;
}
.navbar{
    justify-content: space-between;
    /* padding: 0 76px; */
}
.navbar__link,
.navbar__btn{
    padding: 35px 23px;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #F9F9F9;
    cursor: pointer;
    
}
.navbar__link:hover{
    text-decoration: underline;
}
.banner{
    text-align: center;
    /*padding: 204px 0;
    */position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
}
/* .banner-content{

} */
.banner__title{
    font-weight: 700;
    font-size: 49px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner__content{
    max-width: 584px;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 30px auto;
}
.gr__btn-next{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.banner__link{
    padding: 28px 56px;
    color: #FFFFFF;
    border: 1px solid white;
    display: inline-block;
}
.banner__link::after{
    font-family: Fontawesome;
    content: "\f105";
    margin-left: 0 .5rem;
}
.banner__link:hover{
    color:#373737;
    background-color: #FFFFFF;
}
.next__left,
.next__right{
    padding: 48px 13px;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
