#main .container:first-child{
    margin-top: 56px;
}
/* start css banner */
.slider{
    width: 100%;
    height: 700px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.list-item{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: 100%;
    display: flex;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
.slider-item{
    /* width: 100vw; */
    overflow: hidden;
    position: relative;
}
.slider-item img{
    width: 1200px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.slider-item-title{
    font-weight: 700;
    font-size: 49px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.slider-item-content{
    max-width: 584px;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 30px auto;
}
.gr__btn-slider{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.slider-link{
    padding: 28px 56px;
    color: #FFFFFF;
    border: 1px solid white;
    display: inline-block;
}
.slider-link::after{
    font-family: Fontawesome;
    content: "\f105";
    margin-left: 0 .5rem;
}
.slider-link:hover{
    color:#373737;
    background-color: #FFFFFF;
}
.next__left,
.next__right{
    padding: 48px 13px;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 90%;
}
.next__left:hover,
.next__right:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* start css product */
.product{
    padding: 72px 68px;
    text-align: center;
}
.product__content{
    padding: 0 377px;
}
.product__list{
    display: flex;
    justify-content: space-between;
    margin: 62px 0;
}
.product__item{
    width: calc(95% / 3);
    border: 1px solid var(--content-color-gray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
    overflow: hidden;
    padding: 10px;
}
.product__item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
.product__item img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.product__link{
    width: calc(100%/3);
    position: relative;
}
.product__status{
    position: absolute;
    margin: 15px 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    text-transform: capitalize;
    color: white;
}
.price{
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
    color: var(--content-color-gray);
}
/* end */

/* start css banner */
.baner1{
    padding: 86px 52px;
    background-image: url(../img/banner/Rectangle\ 8.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
}
.banner1__content{
    width: 590px;
    text-align: center;
}
.banner1__content .banner__content{
    color: white;
}
.btn__view-more{
    display: inline-block;
    margin-top: 10px;
}
.btn__view-more::after{
    font-family: Fontawesome;
    content: "\f105";
    margin-left: 0 .5rem;
}
.btn__view-more:hover{
    color:#373737;
    background-color: #FFFFFF;
}
.banner2{
    background-image: url(../img/banner/Rectangle\ 10.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 212px 0;
    /* display: flex;
    justify-content: center; */
    text-align: center;
}
.banner2 > img{
    width: 100%;
    height: 100%;
}
.btn__play{
    color: #FFFFFF;
    font-size: 20px;
    /* padding: 30px; */
    width: 99px;
    height: 99px;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(20px);
    cursor: pointer;
}
/* end */

/* start css main list */
.main__list{
    padding: 0 68px;
}
.main__list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 143px 0;
}
.main__item__content{
    text-align: center;
    padding: 0 107px;
}
.main__item__sub-title{
    margin-bottom: 48px;
}
.main__list__item:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}
/* end */

/* start css oder now */
.oder-now{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    /* background-color: #EFEFEF;  */
}
/* end */

/* start css method price */
.method-price{
    margin: 150px 100px;
    display: flex;
    justify-content: space-between;
}
.method-price__item{
    width: calc(99%/4);
    text-align: center;
}
.method-price__item__title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.method-price__item__title > i{
    font-size: 38px;
    margin-right: 1rem;
}
.method-price__content{
   width: 200px;
   margin: 0 auto;
}
/* end */

/* start css suggestion list */
.suggestions__list{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 100px;
}
.suggestion__item{
    width: calc(98%/2);
    text-align: center;
    border: 1px solid var(--content-color-gray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    padding: 10px;
}
.suggestion__item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.time{
    font-size: 20px;
}
.suggestion__title{
    width: 358px;
    margin: 15px auto 26px;
    font-size: 23px;
}
.suggestion__item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
/* end */

/* start css comment */
.comment{
    /* background-color: #EFEFEF; */
    text-align: center;
    padding: 100px 0 50px;
    position: relative;
}
.comment .slider{
    height: 300px;
}
.comment .slider-item{
    width: 100vw;
    overflow: auto;
}
.comment__icon{
    font-size: 104px;
    margin: 30px auto 0;
}
.comment__content{
    max-width: 434px;
    margin: 0 auto;
    padding: 0;
}
/* end */