#main .container{
    /* padding: 50px 99px; */
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
/* start css category list left */
.category{
    width: 75%;
}
.category_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category_title-fil::after{
    font-family: Fontawesome;
    content: "\f078";
    margin: 0 .5rem;
}
.category_body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}
.category_item{
    /* width: calc(98%/3); */
    text-align: center;
    color: #393939;
    /* margin: .5rem 0; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.category_item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.item_evaluate{
    display: flex;
    justify-content: center;
    margin: .25rem 0;
}
.category_item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.category_footer{
    display: flex;
    justify-content: center;
}
.pagination{
    display: flex;
}
.pagination_item a{
    padding: 10px;
    color: #000000;
    display: block;
    cursor: pointer;
}
.pagination-active a{
    color: white;
    background-color: #6B6B6B;
}
/* end */

/* start css category filter */
.category_bar-filter{
    width: 22%;
    /* margin-left: 50px; */
}
.category_bar_search{
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
}
.category_bar_search input{
    width: 80%;
    padding: 15px 13px;
    border: none;
    outline: none;
}
.btn_search_category{
    flex: 1;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: none;
    padding: 0 13px;
    cursor: pointer;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn_search_category:hover{
    background-color: #6B6B6B;
}

.category_fil_title{
    font-weight: 900;
}
.category_fil_title,
.criterria{
    font-size: 18px;
    padding: 15px;
}
.category_bar-filter_footer{
    border-top: 4px solid #000000 ;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 60% 40%;
    
}
.category_bar_criteria-price{
    padding: 5px;
    outline: none;
    border: none;
}
.category_bar_btn_filter{
    padding: 10px 26px;
    color: whitesmoke;
    background-color: #393939;
    cursor: pointer;
}
.category_bar_btn_filter:hover{
    opacity: .8;
}
/* end */