body{
    background-image: url(../img/category/alen-kajtezovic-S-AI-1k0F1k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.form{
    max-width: 273px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    
}
.form-header{
    display: flex;
    justify-content: center;
}
.form-header .btn-signin,
.form-header .btn-signup{
    max-width: 273px;
    padding: 10px 20px;
    border: none;
    background: none;
    color: white;
    font-weight: 900;
    font-size: 24px;
}
.acctive{
    text-decoration: underline;
}
.form-body{
    width: 273px;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.select-register{
    display: flex;
    position: absolute;
    /*transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    */
    transition: all 1s ease;
}
.form-signin{
    display: flex;
    flex-direction: column;
}
.form-signin input[name="txtName"],
.form-signin input[name="txtPass"],
.form-signup input{
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #373737;
    /* opacity: 88%; */
    outline: none;
}
.form-signin .remember{
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 12px 0 24px;
}
.form-signin input[name="txtChkBox"]{
    width: 16px;
    height: 16px;
}
.form-signin .btn-login,
.form-signup .btn-signup{
    color: #373737;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    /* opacity: 90%; */
    margin-top: 12px;
}
.form-signup{
   display: flex;
   flex-direction: column;
}

.form-footer{
    margin-top: 30px;
    border-top: 2px solid white;
    padding: 12px 0;
}
.form-footer a{
    color: white;
    font-weight: 500;
}
